footer{
    .jumbo-nav{
        height: 410px;
        @include centering(30px, 30px);
        background-color: darkgray;
        background-image: url('/storage/imgs/dc-logo-bg.png'), url('/storage/imgs/footer-bg.jpg');
        background-position: 90%, top;
        background-size: 550px 550px, cover;
        background-repeat: no-repeat;
        color: #959595;
        ul.nav-section{
            display: flex;
            .link-section{
                margin-right: 50px;
                h2{
                    font-size: 18px;
                    color: white;
                    margin-bottom: 15px;
                }
                ul{
                    margin-bottom: 20px;
                    li{
                        margin: 3px 0;
                        a{
                            color: #959595;
                            font-size: 13px;
                        }
                    }
                }
            }
        }

        p{
            font-size: 13px;
            a{
                color: #0282f9;
            }
        }
    }

    .socials{
        background-color:#303030;
        @include centering(30px, 30px);
        display: flex;
        justify-content: space-between;
        align-items: center;

        .blue-link{
            @include linkBtnBlue(0, 10px 20px, transparent, #0282f9);
        }

        ul{
            display: flex;
            align-items: center;
            li{
                margin-left: 20px;
                .blue{
                    color: #0282f9;
                    font-weight: bold;
                }
            }
        }
    }
}
