main{
    .blue-separator.img-container{
        position: relative;
        z-index: 100;
        height: 70px;
        .float-img{
            height: 250px;
            position: absolute;
            z-index: 10;
            top: -200px;
            left: 15%;
            border: 1px solid white;
            img{
                height: 100%;
            }

            .type, .gallery{
                position: absolute;
                left: 0;
                z-index: 50;
                background-color: #00a9d9;
                font-size: 13px;
                padding: 2px 5px;
                text-align: center;
            }
            .type{
                top: 0;
            }
            .gallery{
                width: 100%;
                bottom: 0;
            }

        }
    }

    .description{
        background-color: white;
        @include centeringSerie(60px, 50px);
        display: flex;
        
        .info{
            font-size: 15px;
            flex-basis: calc(100% - 350px);
            h2{
                color: #003f5e;
            }
            .sell{
                padding: 0 30px;
                margin: 20px 0;
                background-color: #55ba59;
                border-bottom: 1px solid #357739;
                color: #baf980;
                height: 50px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                div{
                    height: 100%;
                    display: flex;
                    align-items: center;
                    span{
                        height: 100%;
                        padding: 15px 20px 15px 0;
                        &.white, .white{
                            color: white;
                        }
                        &.border{
                            border-left: 1px solid #357739;
                            padding: 15px 0 15px 20px;
                        }
                    }
                }

            }
            p{
                color: #555a60;
                line-height: 28px;
            }
        }

        .advertisement{
            flex-basis: 300px;
            margin-left: 50px;
            position: relative;
            img{
                width: 100%;
                vertical-align: middle;
            }
            h5{
                color: #555a60;
                position:  absolute;
                top: -20px;
                right: 0;
                font-size: 15px
            }
        }
    }

    .specs{
        @include centeringSerie(20px, 50px);
        background-color: #f6f6f6;
        display: flex;
        flex-wrap: wrap;
        div{
            padding: 10px 0;
            flex-basis: 50%;
            ul.box{
                display: flex;
                flex-wrap: wrap;
                &.rm{
                    margin-right: 25px;
                }
                &.lm{
                    margin-left: 25px;
                }
                li{
                    border-bottom: 1px solid #e3e3e3;
                }

                .title{
                    flex-basis: 100%;
                    padding-bottom: 20px;
                    h2{
                        color: #003f5e;
                    }
                }
                .argument{
                    flex-basis: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 10px 0;
                    h5{
                        color: #003f5e;
                        font-weight: normal;
                        font-size: 13px;
                        flex-basis: 100px;
                    }
                    p{
                        flex-basis: calc(100% - 100px);
                        font-size: 13px;  
                        color: #00b0e1;
                    }
                } 
            }
        }
    }

    .bottom-links{
        @include centeringSerie(0, 0);
        background-color: #f6f6f6;
        border-top: 1px solid #e3e3e3;
        display: flex;
        .box{
            padding: 20px;
            border-left: 1px solid #e3e3e3;
            border-right: 1px solid #e3e3e3;
            font-size: 13px;
            color: #9f9f9f;
            flex-basis: calc(100% / 4);
            display: flex;
            justify-content: space-between;
        }
    }
}