header .linked-sites ul {
  padding: 3px 10% 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #0282f9;
  font-size: 13px;
}

header .linked-sites ul li {
  margin: 0 20px;
}

header .linked-sites ul li:last-child {
  margin-right: 0;
}

header .linked-sites ul li a {
  color: white;
}

header .navbar ul {
  padding: 15px 10% 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: white;
}

header .navbar ul li {
  position: relative;
}

header .navbar ul li a {
  color: #5e605e;
  font-weight: bold;
}

header .navbar ul li a.active {
  color: #0282f9;
}

header .navbar ul li a i {
  color: #0282f9;
  margin-left: 3px;
}

header .navbar ul li img {
  vertical-align: middle;
  width: 70px;
}

header .navbar ul li .active-bar {
  position: absolute;
  bottom: -40px;
  left: 0;
  height: 8px;
  width: 100%;
  background-color: #0282f9;
}

header .navbar ul li.search-bar {
  width: 150px;
}

header .navbar ul li.search-bar input {
  width: 100%;
  border: 0;
  border-bottom: 2px solid dodgerblue;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  padding: 5px 25px;
  outline: none;
}

header .navbar ul li.search-bar i {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

header .jumbo {
  height: 400px;
  background-color: indigo;
  background-image: url("/storage/imgs/jumbotron.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  position: relative;
}

main .title-box {
  position: absolute;
  top: -25px;
  left: calc(10% - 10px);
  font-size: 25px;
  padding: 10px 20px;
  background-color: #0282f9;
  color: white;
  font-weight: bold;
}

main .series {
  padding: 60px 10% 40px;
  background-color: #1c1c1c;
  text-align: center;
}

main .series ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -20px;
}

main .series ul .cover {
  text-align: left;
  flex-basis: calc((100% / 6) - 40px);
  margin: 0 20px 50px;
  min-width: 150px;
}

main .series ul .cover img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main .series ul .cover h4 {
  color: white;
  margin-top: 20px;
  font-weight: normal;
}

main .series .blue-link {
  display: inline-block;
  background-color: #0282f9;
  border: 2px solid #0282f9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 50px;
  margin: 0 20px;
}

main .blue-separator {
  background-color: #0282f9;
  color: white;
  padding: 30px 10% 30px;
}

main .blue-separator ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -20px;
}

main .blue-separator ul li {
  margin: 20px 20px;
}

main .blue-separator ul li a {
  color: white;
}

main .blue-separator ul li a img {
  height: 60px;
  vertical-align: middle;
  margin-right: 20px;
}

main .blue-separator ul li a img#credit {
  height: 40px;
  margin: 10px 20px 10px 0;
}

main .blue-separator.img-container {
  position: relative;
  z-index: 100;
  height: 70px;
}

main .blue-separator.img-container .float-img {
  height: 250px;
  position: absolute;
  z-index: 10;
  top: -200px;
  left: 15%;
  border: 1px solid white;
}

main .blue-separator.img-container .float-img img {
  height: 100%;
}

main .blue-separator.img-container .float-img .type,
main .blue-separator.img-container .float-img .gallery {
  position: absolute;
  left: 0;
  z-index: 50;
  background-color: #00a9d9;
  font-size: 13px;
  padding: 2px 5px;
  text-align: center;
}

main .blue-separator.img-container .float-img .type {
  top: 0;
}

main .blue-separator.img-container .float-img .gallery {
  width: 100%;
  bottom: 0;
}

main .description {
  background-color: white;
  padding: 60px 15% 50px;
  display: flex;
}

main .description .info {
  font-size: 15px;
  flex-basis: calc(100% - 350px);
}

main .description .info h2 {
  color: #003f5e;
}

main .description .info .sell {
  padding: 0 30px;
  margin: 20px 0;
  background-color: #55ba59;
  border-bottom: 1px solid #357739;
  color: #baf980;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main .description .info .sell div {
  height: 100%;
  display: flex;
  align-items: center;
}

main .description .info .sell div span {
  height: 100%;
  padding: 15px 20px 15px 0;
}

main .description .info .sell div span.white,
main .description .info .sell div span .white {
  color: white;
}

main .description .info .sell div span.border {
  border-left: 1px solid #357739;
  padding: 15px 0 15px 20px;
}

main .description .info p {
  color: #555a60;
  line-height: 28px;
}

main .description .advertisement {
  flex-basis: 300px;
  margin-left: 50px;
  position: relative;
}

main .description .advertisement img {
  width: 100%;
  vertical-align: middle;
}

main .description .advertisement h5 {
  color: #555a60;
  position: absolute;
  top: -20px;
  right: 0;
  font-size: 15px;
}

main .specs {
  padding: 20px 15% 0;
  background-color: #f6f6f6;
  display: flex;
}

main .specs div {
  padding: 10px 0;
  flex-basis: calc(50% - 40px);
}

main .specs div h2 {
  color: #003f5e;
  width: 100%;
}

main .specs div .row {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

footer .jumbo-nav {
  height: 410px;
  padding: 30px 10% 30px;
  background-color: darkgray;
  background-image: url("/storage/imgs/dc-logo-bg.png"), url("/storage/imgs/footer-bg.jpg");
  background-position: 90%, top;
  background-size: 550px 550px, cover;
  background-repeat: no-repeat;
  color: #959595;
}

footer .jumbo-nav ul.nav-section {
  display: flex;
}

footer .jumbo-nav ul.nav-section .link-section {
  margin-right: 50px;
}

footer .jumbo-nav ul.nav-section .link-section h2 {
  font-size: 18px;
  color: white;
  margin-bottom: 15px;
}

footer .jumbo-nav ul.nav-section .link-section ul {
  margin-bottom: 20px;
}

footer .jumbo-nav ul.nav-section .link-section ul li {
  margin: 3px 0;
}

footer .jumbo-nav ul.nav-section .link-section ul li a {
  color: #959595;
  font-size: 13px;
}

footer .jumbo-nav p {
  font-size: 13px;
}

footer .jumbo-nav p a {
  color: #0282f9;
}

footer .socials {
  background-color: #303030;
  padding: 30px 10% 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer .socials .blue-link {
  display: inline-block;
  background-color: transparent;
  border: 2px solid #0282f9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0;
}

footer .socials ul {
  display: flex;
  align-items: center;
}

footer .socials ul li {
  margin-left: 20px;
}

footer .socials ul li .blue {
  color: #0282f9;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0282f9;
  font-family: "Roboto Condensed", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

